// reset the browser defaults
*,
html,
body,
header,
main,
footer,
h1,
canvas,
ul,
li,
p,
small,
a,
strong,
abbr
abbr,
button {
    background: transparent;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}

header,
main,
footer,
canvas {
    display: block;
}

li {
    list-style: none;
}

a,
abbr {
    text-decoration: none;
}

abbr {
    cursor: help;
}

button {
    cursor: pointer;
}